@font-face { font-family:Comfortaa;src:url(app/font/Comfortaa-Medium.ttf) }
* { font-family:Comfortaa,sans-serif }
*, *:before, *:after { box-sizing:inherit }
body { line-height:1.5;max-width:1400px;margin:0 auto;overflow-x:hidden }

.inline { display:inline } /* tree */
.marked { color:maroon }
.hide   { display:none }
.left   { float:left }
.right  { float:right }

nav, #tree     { padding:12px }
nav div { margin-left:24px } 
nav p   { cursor:pointer;margin:0;padding:8px 0;border-bottom:1px solid gray }
nav p   { position:relative;animation:animateleft 0.4s }
@keyframes animateleft { from{left:-300px;opacity:0} to{left:0;opacity:1} }

#feed { z-index:5;padding-top:50px }
#band { border-bottom:1px solid gray }
#menu div i, #bars i, #icons i { cursor:pointer;padding:15px;font-size:18px}
#main-icons { width:618px }

input, textarea { padding:8px;outline:none;font:inherit;border:none;display:inline }
input { height:41px;margin-top:4px }
#info, #input { width:390px;white-space:nowrap;overflow:hidden;padding:13px 10px 9px }
.mail { width:100%;border-bottom:1px solid lightgrey;margin-top:8px }

ul    { list-style-type:none;padding:0;margin:0 }
ul li { padding:0;margin:12px;border:1px solid lightgrey;box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19) }
ul p  { text-indent:24px }

img, video  { width:100%;display:none;display:block } /* Show all items at once; video is for tut.by */
#tvf { width:calc(100% - 24px);border:0;height:calc(594px / 16 * 9);padding:0;margin:12px } /* 594px=(618-2x12)px | tv-frame 16:9 */
#tvf { box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19) }

.item-head { position:relative;overflow:auto }
.item-head p { position:absolute;left:0;bottom:0;width:100%;background-color:rgba(0,0,0,.6);color:white;padding:4px 12px;margin:0;cursor:pointer }
.item-head p.text { position:relative; padding:12px }
.item-head iframe { width:100%;border:0;height:calc(476px / 16 * 9) }
.item-body { display:none;padding:1px 12px 18px;background-color:#f1f1f1 }
.item-body p img, .item-body table, .item-body p[style] { display:none }
.item-body div { padding:2px 24px;display:inline }
.item-mark { color:maroon;cursor:pointer;overflow:auto }

@media screen and (max-width:993px) {
    * { font-size:13px }
    #main-icons { width:100% }
    #info, #input { width:calc(100vw - 240px) }
    #tvf { width:calc(100% - 24px);height:calc((100vw - 24px) / 16 * 9) }
}
